<!DOCTYPE html>
<html lang="en">
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--
      ==============================================
      Welome to the Travel Valet Reference Template!
      Please refer to the docs here:
      https://github.com/esconsut1/travel-valet-docs

      Your entire template is contained in this
      single file. Please refer to the documentation 
      above.
      ==============================================
    -->

    <!-- basic meta information -->
    <title>{{account.title}}</title>
    <meta name="description" content="{{account.settings.tagline}}">

    <!-- TAILWIND CSS -->
    <!-- SYSTEM WILL GENERATE MINIMIZED CSS. UNCOMMENT IN PRODUCTION -->
    <!-- <link rel="stylesheet" url="/tailwind/##ZID##.css"> -->

    <!-- FOR DEVELPMENT ONLY -- REMOVE WHEN COMPLETED DESIGNS -->
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css">
    <!-- /TAILWIND CSS -->

    <!-- 
      CUSTOM STYLESHEETS
      You can include your custom CSS frameworks and custom styles here, instead of Tailwind.
      Example:
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <style>
        h1 {font-weight: bold;}
      </style>
    -->

    <!-- favicon -->
		<link rel="icon" href="{{account.settings.logo_small}}" type="image/x-icon">		

    <!-- og:xxx data for social embedding (automatically embedded) DO NOT ADD OGDATA -->

  </head>
	
	<body>
		<!-- header -->
		<header>
			<a href="/{{account.cname}}" title="{{account.title}}">
				<img src="{{account.settings.logo}}" alt="Logo">
			</a>
			<h4>{{account.name}}</h4>
			<h5>{{account.settings.tagline}}</h5>
		</header>
		<!-- /header -->
		
		<!-- CTA (the call to action button for lead gen) -->
		{% if cta_url %}
    <p>
			<a href="{{cta_url}}">{{cta_label}}</a>
    </p>
		{% endif %}
		<!-- /CTA -->
		
		<!-- single post -->
		{% if post %}
			<h1>{{post.title}}</h1>
			{% if post.cover_image %}<img src="{{post.cover_image}}" alt="{{post.cover_image}}" style="width: 100%;">{% endif %}
			{% if post.description.size > 0 %}
			<article>
				{{post.description}}
			</article>
			{% endif %}
			
			<!-- maybe this post contains a collection of other posts, if so we display them -->
			<!-- collection -->
			{% if collection.size > 0 %}
				{% for p in collection %}
				<div>
					<a href="{{p.url}}">
						<img src="{{p.cover_image}}" alt="{{p.title}}" style="width: 100%;">
						<h2>{{p.title}}</h2>
					</a>
				</div>
				{% endfor %}
			{% endif %}
			<!-- /collection -->
		{% endif %}
		<!-- /single post -->
		
		<!-- MAIN PAGE this is the list of posts for the main page -->
		{% if posts.size > 0 %}
			{% for p in posts %}
				<a href="{{p.url}}">
					{% if p.cover_image %}<img src="{{p.cover_image}}" alt="{{p.title}}" style="width: 100%; display: block;">{% endif %}
					<h2>{{p.title}}</h2>
				</a>
			{% endfor %}
		{% endif %}
		<!-- /list of posts -->
		
		<!-- email subscribe link (optional) -->
		<div>
			<a href="{{account.cname}}/subscribe">Subscribe</a>
		</div>
		<!-- /email subscribe link -->
		
		<!-- footer (optional) -->
		<footer>
			<p>Your custom footer</p>
		</footer>
		<!-- /footer -->
		
		<!-- autogen -->
		<p>Another whitelabel footer will be automatically generated in here</p>
		<!-- /autogen -->
	</body>
</html
